body {
    background-color: #171717 !important;
    color: aliceblue !important;
    text-align: center;
    font-family: Manjari, Ubuntu, sans-serif;
}

a {
    color: #fff000;
}

.links {
    font-size: 23px;
}